extends layout

block content
  .wrapper
    include ./partials/sidebar
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      .content-header
        .container-fluid
          .row
            .col-md-12

              h1.m-0.text-dark Attendance Overview
            // /.col
            .col-sm-6

              ol.breadcrumb.float-sm-right
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active Attendance Overview
                  .card-header

            // /.col
          // /.row
        // /.container-fluid
      // /.content-header
      // Main content
      section.content
        .container-fluid
          //Attendence graph

          .row
            // Left col
            section.col-lg-12.connectedSortable.ui-sortable
              // Custom tabs (Charts with tabs)
              .card
                .card-header.ui-sortable-handle(style='cursor: move;')
                  h3.card-title
                    i.fas.fa-chart-pie.mr-1
                    |                   Attendence
                  .card-tools
                    ul.nav.nav-pills.ml-auto
                      li.nav-item
                        a.nav-link.active(href='#revenue-chart', data-toggle='tab') Area
                      li.nav-item
                        a.nav-link(href='#sales-chart', data-toggle='tab') Donut
                // /.card-header
                .card-body
                  .tab-content.p-0
                    // Morris chart - Sales
                    #revenue-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
                      .chartjs-size-monitor
                        .chartjs-size-monitor-expand
                          div
                        .chartjs-size-monitor-shrink
                          div
                      canvas#revenue-chart-canvas.chartjs-render-monitor(height='375', style='height: 300px; display: block; width: 676px;', width='845')
                    #sales-chart.chart.tab-pane(style='position: relative; height: 300px;')
                      canvas#sales-chart-canvas.chartjs-render-monitor(height='0', style='height: 0px; display: block; width: 0px;', width='0')
                // /.card-body
                // /.card
                // /.Left col
                // right col (We are only adding the ID to make the widgets sortable)
                  //we dont want this so we put display none on it
                section.col-lg-5.connectedSortable.ui-sortable(style="display:none;")
                  // Map card
                  .card.bg-gradient-primary
                    .card-header.border-0.ui-sortable-handle(style='cursor: move;')
                      h3.card-title
                        i.fas.fa-map-marker-alt.mr-1
                        |                   Visitors
                      // card tools
                      .card-tools
                        button.btn.btn-primary.btn-sm.daterange(type='button', data-toggle='tooltip', title='Date range')
                          i.far.fa-calendar-alt
                        button.btn.btn-primary.btn-sm(type='button', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                          i.fas.fa-minus
                      // /.card-tools

                    // /.card-body
                    .card-footer.bg-transparent
                      .row
                        .col-4.text-center
                          #sparkline-1
                            canvas(width='100', height='62', style='width: 80px; height: 50px;')
                          .text-white Visitors
                        // ./col
                        .col-4.text-center
                          #sparkline-2
                            canvas(width='100', height='62', style='width: 80px; height: 50px;')
                          .text-white Online
                        // ./col
                        .col-4.text-center
                          #sparkline-3
                            canvas(width='100', height='62', style='width: 80px; height: 50px;')
                          .text-white Attendence Overview
                        // ./col
                        // /.row
                        // /.card
                        // right col



          //end attendence graph


    // /.content-wrapper
    footer.main-footer
    script(src='/javascripts/demo.js')
      //script(src='plugins/chart.js/Chart.js')
      //link(rel='chart.js', href='Chart.css')
      //script(src='plugins/jquery-knob/jquery.knob.min.js')
      strong
        | Copyright &copy; 2020
        a(href='#') Southern Hacks Team 23
        | .
      |     All rights reserved.
      //.float-right.d-none.d-sm-inline-block
      //  b Version
      //  |  3.0.2
    // Control Sidebar
    aside.control-sidebar.control-sidebar-dark
      // Control sidebar content goes here
    // /.control-sidebar
  // ./wrapper
