extends layout

block content
  .wrapper
    include ./partials/sidebar
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-3
            .col-sm-3
              h1.m-0.text-dark Student Grades
            // /.col
            .col-sm-3
              ol.breadcrumb.float-sm-right
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active Student Grades
            // /.col
          // /.row
        // /.container-fluid
      // /.content-header
      // Main content
      section.content
        .container-fluid
          h3.box-title Student Grades
            // /.box-header
            .box-body
              #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
                .row
                  .col-sm-3
                  .col-sm-3
                .row
                  .col-md-12
                    table#example2.table.table-bordered.table-hover.dataTable(role='grid', aria-describedby='example2_info')
                      thead
                        tr(role='row')
                          th.sorting_asc(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Rendering engine: activate to sort column descending') Last Name
                          th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') First Name
                          th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') Current Grade
                      tbody
                        tr.odd(role='row')
                          td.sorting_1 Job
                          td Doe
                          td A

                        tr.even(role='row')
                          td.sorting_1 Jane
                          td Doe
                          td A

                        tr.odd(role='row')
                          td.sorting_1 Ted
                          td Thunderbuddy
                          td A

                        tr.even(role='row')
                          td.sorting_1 Water
                          td Boy
                          td A

                        tr.odd(role='row')
                          td.sorting_1 Tom
                          td Cruise
                          td A

                        tr.even(role='row')
                          td.sorting_1 Mike
                          td Lawry
                          td C

                        tr.odd(role='row')
                          td.sorting_1 Owen
                          td Wilson
                          td A

                        tr.even(role='row')
                          td.sorting_1 Martin
                          td Lawrence
                          td B

                        tr.odd(role='row')
                          td.sorting_1 Lightningbolt
                          td Dupree
                          td B

                        tr.even(role='row')
                          td.sorting_1 Gecko
                          td Gieco
                          td A

                        tr.even(role='row')
                          td.sorting_1 Mr.
                          td Shelby
                          td A

                      tfoot
                      "Grades will be updated weekly"



              .row
                .col-sm-5



    // /.content-wrapper
    footer.main-footer

      strong
        | Copyright &copy; 2020
        a(href='#') Southern Hacks Team 23
        | .
      |     All rights reserved.
      //.float-right.d-none.d-sm-inline-block
      //  b Version
      //  |  3.0.2
    // Control Sidebar
    aside.control-sidebar.control-sidebar-dark
      // Control sidebar content goes here
    // /.control-sidebar
  // ./wrapper
