extends layout

block content
  .wrapper
    include ./partials/sidebar
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-2
            .col-sm-6
              h1.m-0.text-dark Home
            // /.col
            .col-sm-6
              ol.breadcrumb.float-sm-right
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active Home
            // /.col
          // /.row
        // /.container-fluid
      // /.content-header
      // Main content
      section.content
        .container-fluid
          // Small boxes (Stat box)
          .row
            .col-lg-3.col-6
              // small box
              .small-box.bg-info
                .inner
                  h3 271
                  p Total Students
                .icon
                  i.ion.ion-bag
                a.small-box-footer(href='#')
                  | More info
                  i.fas.fa-arrow-circle-right
            // ./col
            .col-lg-3.col-6
              // small box
              .small-box.bg-success
                .inner
                  h3
                    | 93
                    sup(style='font-size: 20px') %
                  p Attendance Rate
                .icon
                  i.ion.ion-stats-bars
                a.small-box-footer(href='#')
                  | More info
                  i.fas.fa-arrow-circle-right
            // ./col
            .col-lg-3.col-6
              // small box
              .small-box.bg-warning
                .inner
                  h3 6
                  p Students Missing Today
                .icon
                  i.ion.ion-person-add
                a.small-box-footer(href='#')
                  | More info
                  i.fas.fa-arrow-circle-right
            // ./col
            .col-lg-3.col-6
              // small box
              .small-box.bg-danger
                .inner
                  h3 1
                  p Students Unaccounted For
                .icon
                  i.ion.ion-pie-graph
                a.small-box-footer(href='#')
                  | More info
                  i.fas.fa-arrow-circle-right
            // ./col
          // /.row
          // Main row
          .row
            // Left col
            section.col-lg-7.connectedSortable
              // Custom tabs (Charts with tabs)
              .card
                .card-header
                  h3.card-title
                    i.fas.fa-chart-pie.mr-1
                    |                   Sales
                  .card-tools
                    ul.nav.nav-pills.ml-auto
                      li.nav-item
                        a.nav-link.active(href='#revenue-chart' data-toggle='tab') Area
                      li.nav-item
                        a.nav-link(href='#sales-chart' data-toggle='tab') Donut
                // /.card-header
                .card-body
                  .tab-content.p-0
                    // Morris chart - Sales
                    #revenue-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
                      canvas#revenue-chart-canvas(height='300' style='height: 300px;')
                    #sales-chart.chart.tab-pane(style='position: relative; height: 300px;')
                      canvas#sales-chart-canvas(height='300' style='height: 300px;')
                // /.card-body
              // /.card
            // /.Left col
            // right col (We are only adding the ID to make the widgets sortable)
            section.col-lg-5.connectedSortable
              // Map card
              .card.bg-gradient-primary
                .card-header.border-0
                  h3.card-title
                    i.fas.fa-map-marker-alt.mr-1
                    |                   Visitors
                  // card tools
                  .card-tools
                    button.btn.btn-primary.btn-sm.daterange(type='button' data-toggle='tooltip' title='Date range')
                      i.far.fa-calendar-alt
                    button.btn.btn-primary.btn-sm(type='button' data-card-widget='collapse' data-toggle='tooltip' title='Collapse')
                      i.fas.fa-minus
                  // /.card-tools
                .card-body
                  #world-map(style='height: 250px; width: 100%;')
                // /.card-body
                .card-footer.bg-transparent
                  .row
                    .col-4.text-center
                      #sparkline-1
                      .text-white Visitors
                    // ./col
                    .col-4.text-center
                      #sparkline-2
                      .text-white Online
                    // ./col
                    .col-4.text-center
                      #sparkline-3
                      .text-white Sales
                    // ./col
                  // /.row
              // /.card
            // right col
          // /.row (main row)
        // /.container-fluid
      // /.content
    // /.content-wrapper
    footer.main-footer
      strong
        | Copyright &copy; 2014-2019
        a(href='http://adminlte.io') AdminLTE.io
        | .
      |     All rights reserved.
      .float-right.d-none.d-sm-inline-block
        b Version
        |  3.0.2
    // Control Sidebar
    aside.control-sidebar.control-sidebar-dark
      // Control sidebar content goes here
    // /.control-sidebar
  // ./wrapper
